<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PseudoCodeCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PsudoCodeCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PseudoCodeCompiler.Properties.Settings>
            <setting name="Background" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PlainText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Keywords" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="Comments" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="DefaultDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Commands" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
        </PseudoCodeCompiler.Properties.Settings>
        <PsudoCodeCompiler.Properties.Settings>
            <setting name="Background" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PlainText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Keywords" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="Comments" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="DefaultDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Commands" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </PsudoCodeCompiler.Properties.Settings>
    </userSettings>
</configuration>